{{ form_start(form, {'method': 'POST'}) }}

    <div id="form">
        {{ form_errors(form) }}

        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div id="flash" class="flash-{{ type }}">
                    <p class="{{ type }}">{{ flashMessage }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.user, "Personne") }}</th>
                    <td>
                        {{ form_widget(form.user) }}
                        {{ form_errors(form.user) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.word, "Gros mot") }}</th>
                    <td>
                        {{ form_widget(form.word) }}
                        {{ form_errors(form.word) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="infos">
        <div class="rubric">
            <h3>Informations</h3>
            <p>Créé le <strong>{{ form.vars.value.createdAt | date("d/m/Y @ h:i:s") }}</strong></p>
            <p>Modifié le <strong>{{ form.vars.value.updatedAt | date("d/m/Y @ h:i:s") }}</strong></p>
            <p>
                {{ form_rest(form) }}
                {{ form_row(form.submit) }}
            </p>
        </div>
    </div>

{{ form_end(form) }}
